// Typography
///////////////////////////////////////////////////////////////////////////////
$sans-serif: "proxima-nova", $helvetica;
$serif: "skolar", $georgia;

$base-font-family: $sans-serif;
$header-font-family: $base-font-family;

// Sizes
///////////////////////////////////////////////////////////////////////////////
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$base-border-radius: em(8);
$navbarHeight: 48px;
$siteHeaderHeight: 88px;

// Colors
///////////////////////////////////////////////////////////////////////////////

$light-blue: #B6DEF3;
$blue: #176f9f;
$dark-blue: #3A6887;
$dark-gray: #545454;
$medium-gray: #999;
$light-gray: #DDD;
$orange: #cc5b04;
$gold: #A8895A;
$green: #a1b09b;
$brown: #474345;
$true-white: #fff;
$white: #f1f1f1;

// Body Color
$base-body-color: #F3F4F1;

//  Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $blue;

//  Text Link Colors
$base-link-color: $orange;
$hover-link-color: darken($orange, 8);

$secondary-link-color: $blue;
$secondary-link-hover-color: darken($blue, 8);


// Border color
$base-border-color: $light-gray;

// Flash Colors
$error-color: $orange;
$notice-color: $gold;
$success-color: $green;
