

// Grid Settings
// [Susy](http://susy.oddbird.net/guides/getting-started/)


// $container-style: magic;          // grid has a set width, but becomes fluid at a point
// $container-width: 1100px;
$total          :                       12;             // a 12-column grid
$column-width   :                       3.6em - .225em;            // each column is 4em wide
$gutter-width   :                       1.875em;            // 1em gutters between columns
$grid-padding   :                       $gutter-width;  // grid-padding equal to gutters


