// More Mixins
// -------------------------------------------------------



// HEX to RGB with IE Fallback
@mixin rgba($color, $value) {
    background: $color;
    background: rgba($color, $value);
}




// Opacity Mixin with all Browser Prefixes
@mixin opacity($value) {
    -webkit-opacity:$value;
    -moz-opacity:$value;
    -o-opacity:$value;
    opacity:$value;
    filter: alpha(opacity=$value);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$value)";

}




// Center Colums
@mixin centerColumns {
    display: block;
    float:none;
    margin: 0 auto;
}




// Clearfix
@mixin clearlyFixed {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}




// Full Bleed for Removing Columns
@mixin fullBleed {
    margin: auto auto ;
    display: block;
    float:none;
    width: auto;
}