



// Buttons //




//  Buttons  //

.btn {
    transition: all .1s ease-in-out;
    user-select:none;
    box-sizing: border-box;
    padding: 1em 2em ;
    border-radius: 4px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    vertical-align: bottom;
    cursor: pointer;
    min-width: 64%;
    text-align: center;
    font-size: em-font(14px);
    font-style: normal;
    font-family: $sans;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    border:0;
    letter-spacing: .06em;
    line-height: 1.24em;
    margin: 0 auto;

    // Special Button: Rollover for Icon
    // &.special {
    //     font-size: em-font(14px);
    //     padding: 20px 30px;
    //     font-style: italic;
    //     font-family: $serif;
    //     text-transform: capitalize;
    //     font-weight: 200;
    //     -moz-backface-visibility: hidden;
    //     -webkit-backface-visibility: hidden;
    //     overflow:hidden;

    //     // Icon Position & Size
    //     &:before {
    //         left: 0;
    //         top: -100%;
    //         position: absolute;
    //         height: 100%;
    //         width: 100%;
    //         line-height: 2.2em;
    //         font-size: 1.8em;
    //         -webkit-transition: all 0.3s;
    //         -moz-transition: all 0.3s;
    //         transition: all 0.3s;
    //     }

    //     span {
    //         -moz-backface-visibility: hidden;
    //         -webkit-backface-visibility: hidden;
    //         transition: all 0.3s;
    //         height: 100%;
    //         width: 100%;
    //         display: inline-block;
    //     }
    // }



    &.full-bleed {
        display: block;
        width: auto;
        font-style: normal;
        font-family: $sans;
        text-transform: uppercase;
        font-weight: 700;
    }

}




