


// Forms //


input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    background: none;
    font-family: inherit;
    border: 1px solid $primaryText;
    // @include box-shadow(none);
    box-shadow: none;
    color: $primaryLink;
    display: inline-block;
    font-size: 1.5em;
    margin: 0 auto;
    padding: 8px;
    height: 60px;
    position: relative;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.45s ease-in-out;
    -webkit-placeholder: $primaryLink;
}

label {
    color: $primaryLink;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: 400;
    font-family: $sans;
    font-size: 90%;
}


textarea {min-height:140px;}