



// Utility Classes //



// Hide/Show
.hide-above-tablet-p {
    display: none !important;
}
.hide-below-tablet-p {
    display: inherit !important;
}
.show-for-print {
    display: none;
}



.circle {
    border-radius: 1000px;
}

// Typography
.capital-case {
    text-transform: capitalize;;
}
.emph {
    font-weight: 700;
}

.serif {
    font-family: $serif !important;
}

.sans {
    font-family: $sans !important;
}

.sans-normal {
    font-family: $sans !important;
    font-style: normal !important;
}

.italic {
    font-style: italic;
}

.normal {
    font-style: normal;
}

.center {
    text-align: center;
    margin: inherit auto;
}

.right {
    float:right;
}

.left {
    float:left;
}


