//  Buttons
///////////////////////////////////////////////////////////////////////////////

a.btn {
    $btn-height: $base-line-height * 1.5;

    line-height: $btn-height;
    padding: $btn-height/2.75 $btn-height/2;
    line-height: $base-line-height * .75;
    border-radius: $base-border-radius;
    @include transition (all 0.2s ease-in-out);
    @include prefixer(box-sizing, border-box, webkit moz spec);
    @include user-select(none);
    font-size: $base-font-size * .875;
    text-decoration: none;
    display: inline-block;
    vertical-align: bottom;
    cursor: pointer;
    text-align: center;
    font-family: $sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    letter-spacing: .06em;
    margin: 2px auto;

    // Default
    background: $blue;
    color: $white;
    &:hover {
        background: darken($blue, 8)
    }

    // Secondary
    &.btn-secondary {
        background: $gold;
        color: $white;
        &:hover {
            background: darken($gold, 8)
        }
    }

    // Tertiary
    &.btn-tertiary {
        background: $green;
        color: $white;
        &:hover {
            background: darken($green, 8)
        }
    }

    // Neutral
    &.btn-neutral {
        background: lighten($base-body-color, 3%);
        color: lighten($medium-gray, 2);
        border: 1px solid $light-gray;
        &:hover {
            background: $base-body-color;
        }
    }

    // Small
    &.btn-large {
        font-size: $base-font-size;
    }

    // Media
    $media-btn-border-color: $base-border-color;
    $media-btn-border: 1px solid $media-btn-border-color;
    $media-btn-background: lighten($base-body-color, 3%);
    $media-btn-secondary-background: $media-btn-background;
    $media-btn-hover-background: lighten($base-body-color, 6%);

    &.media-btn {
        width: auto;
        font-size: 14px;
        padding: 6px 18px;
        text-transform: capitalize;
        font-weight: 500;
        color: $base-font-color;
        background-color: $media-btn-background;
        border: $media-btn-border ;
        cursor: pointer;
        display: inline-block;
        font-family: inherit;
        line-height: 1;
        outline: none;
        position: relative;
        text-align: center;
        text-decoration: none;
        -webkit-appearance: none;
        @include linear-gradient($media-btn-secondary-background, $media-btn-background);
        box-shadow: 0 2px 4px darken($base-body-color, 10);
        border-radius: $secondary-border-radius;
        @include transition(background-color 0.15s ease-in-out);

        &:hover {
            @include linear-gradient(lighten($media-btn-secondary-background, 2), lighten($media-btn-background, 2));
        }
    }

    &.download:before {
        content: "a";
        padding: 0 5px 0 0;
        position: relative;
        top: 2px;
        font-family: "all-purpose" !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    &.listen:before {
        content: "n";
        padding: 0 5px 0 0;
        position: relative;
        top: 2px;
        font-family: "all-purpose" !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

}