


// Icons //
@font-face {
  font-family: "all-purpose";
  src:url("../fonts/all-purpose/all-purpose.eot");
  src:url("../fonts/all-purpose/all-purpose.eot?#iefix") format("embedded-opentype"),
    url("../fonts/all-purpose/all-purpose.woff") format("woff"),
    url("../fonts/all-purpose/all-purpose.ttf") format("truetype"),
    url("../fonts/all-purpose/all-purpose.svg#all-purpose") format("svg");
  font-weight: normal;
  font-style: normal;

}


[data-icon]:before {
  font-family: "all-purpose" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="ico-"]:before,
[class*=" ico-"]:before {
  font-family: "all-purpose" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-chevron-right:before {
  content: "g";
}
.ico-chevron-left:before {
  content: "h";
}
.ico-chevron-down:before {
  content: "i";
}
.ico-chevron-up:before {
  content: "j";
}
.ico-letter:before {
  content: "k";
}
.ico-send:before {
  content: "l";
}
.ico-email-plane:before {
  content: "m";
}
.ico-telegraph-glyphgs:before {
  content: "o";
}
.ico-close-5:before {
  content: "p";
}
.ico-sort-row:before {
  content: "f";
}
.ico-sort-row-2:before {
  content: "q";
}
.ico-sort-thumbnails-big:before {
  content: "r";
}
.ico-binoculars-search:before {
  content: "s";
}
.ico-search:before {
  content: "t";
}
.ico-twitter-circled:before {
  content: "v";
}
.ico-vimeo-circled:before {
  content: "u";
}
.ico-gplus-circled:before {
  content: "w";
}
.ico-facebook-circled:before {
  content: "x";
}
.ico-cloud-download-2:before {
  content: "a";
}
.ico-play-1:before {
  content: "b";
}
.ico-pause-1:before {
  content: "c";
}
.ico-off-volume-2:before {
  content: "d";
}
.ico-off-volume-1:before {
  content: "e";
}
.ico-note-beamed:before {
  content: "n";
}
