


// Media Queries //

@include media($ipad-portrait-down) {

    // General
    nav.sub,
    .main-content {
        @include fill-parent;
    }

    .main-content {
        border-bottom: 1px solid $base-border-color;
        padding-bottom: $base-line-height;
    }
    nav.sub {
        margin-top: $base-line-height * 4;
    }

    // Utility Hide/Show
    .hide-on-tablet {
        display: none !important;
    }
    .show-on-tablet {
        display: inherit !important;
    }

    // Utility Grid
    .col-one,
    .col-two,
    .col-three,
    .col-four,
    .col-five,
    .col-six,
    .col-seven,
    .col-eight,
    .col-nine,
    .col-ten,
    .col-eleven,
    .col-twelve {
        @include fullBleed;
        margin: $base-line-height auto;
    }

}


@include media($phone-down) {
    // Typography
    h1 {
      font-size: $base-font-size * 2; // 16 * 2 = 32px
    }

    h2 {
      font-size: $base-font-size * 1.5; // 16 * 1.5 = 24px
    }

    h3 {
      font-size: $base-font-size * 1.25; // 16 * 1.125 = 20px
    }

    h4 {
      font-size: $base-font-size * 1.125; // 16 * 1.125 = 18px
    }

    h5 {
      font-size: $base-font-size; // 16
    }

    h6 {
      font-size: $base-font-size; // 16
    }

    .content-header {
        h2 {
            font-size: $base-font-size * 2; // 16 * 2 = 32px
            float:none;
        }
        .options {
            float: none;
            margin: $base-line-height auto $base-line-height/2;
        }
    }

    p {
      margin: 0 0 ($base-line-height * .5);

      // Lead Copy
      &.lead {
        font-size: $base-font-size * 1.25; // 16 * 1.25 = 20px
        line-height: 1.25em;
        color: $blue;
      }
    }
}