!!! 5
-# paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
%html.no-js{:lang => "en"}

    %head

        %meta{:charset => "utf-8", :"http-equiv"=>"Content-Type", :content=>"text/html"}

        %title Project Name
        %meta{:name => "description", :content => ""}
        %meta{:name => "keywords", :content => ""}
        %meta{:name => "author", :content => ""}

        -# Mobile
        %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

        -# Favicon
        / %link{:href => "../img/icons/favicon.ico", :rel => "shortcut icon"}

        -# FONTS
        %script{:src => "//use.typekit.net/xrq4srv.js"}
        %script
            try{Typekit.load();}catch(e){}

        -# CSS
        %link{:rel => "stylesheet", :href => "../css/app.css"}

        -# Modernizr
        %script{:src => "../js/libs/modernizr-ck.js"}

        -# IE LT 9
        <!--[if lt IE 9]><link rel="stylesheet" type="text/css" href="../css/ie8.css" /><script src='../js/libs/ie.min.js'></script><![endif]-->



    %body.init

        -# Content Wrap
        %main#content-wrap{:role => "main"}
            .outer-bounds
                .content-row
                    %nav.sub
                        %ul.border-b
                            %li.title
                                %h6
                                    Who We Are
                            %li
                                %a{:href => "/assets/html/index.html"} Our Theological Identity
                            %li.active
                                %a{:href => "/assets/html/article-video.html"} Our History
                            %li
                                %a{:href => "#"} Stories of Rescue

                            %li.title
                                %h6
                                    Our Campus
                            %li
                                %a{:href => "/assets/html/article-map"} New to PCPC
                            %li
                                %a{:href => "/assets/html/article-list"} Our Session and Diaconate
                            %li
                                %a{:href => "#"} Item
                            %li
                                %a{:href => "#"} Item
                            %li.title
                                %h6
                                    Title
                            %li
                                %a{:href => "#"} Item
                            %li
                                %a{:href => "#"} Item
                            %li
                                %a{:href => "#"} Item
                            %li
                                %a{:href => "#"} Item

                    .main-content
                        %header.content-header
                            %h2 Our History
                            %hr/
                            %iframe{allowfullscreen: "", frameborder: "0", height: "720", mozallowfullscreen: "", src: "//player.vimeo.com/video/29465219", title: "20 Years of the Word Preached", webkitallowfullscreen: "", width: "1280"}
                            %hr/

                            %p.lead
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, pariatur, deserunt voluptatem quis unde odit ipsum dolor iste officia porro recusandae excepturi adipisci sapiente accusamus nostrum aliquid veniam obcaecati minima.

                        %article.content-article
                            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, dolorem, molestias accusantium dignissimos perferendis ut quae pariatur nihil commodi nesciunt necessitatibus magni beatae optio voluptatibus debitis fugiat amet saepe repudiandae!
                            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, dolorem, molestias accusantium dignissimos perferendis ut quae pariatur nihil commodi nesciunt necessitatibus magni beatae optio voluptatibus debitis fugiat amet saepe repudiandae!

                            %p To say that we are evangelical means that we take our stand with all those who believe in what used to be called “the fundamentals”: the existence of the triune God, the deity of Jesus, the virgin birth, and substitutionary and vicarious atonement of Christ, the physical resurrection of Christ, the sure return of Christ, and the infallibility and divine authority of the Bible which is a faithful and true guide to what we are to believe and how we are to live. We joyfully affirm our unity with those from every tradition and denomination who hold to these fundamentals including those true believers in Christ who, for whatever reasons, find themselves members of denominations or churches with which we might have certain disagreements.

                            %hr/
                            %h3 We are evangelistic
                            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, dolorem, molestias accusantium dignissimos perferendis ut quae pariatur nihil commodi nesciunt necessitatibus magni beatae optio voluptatibus debitis fugiat amet saepe repudiandae!
                            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, dolorem, molestias accusantium dignissimos perferendis ut quae pariatur nihil commodi nesciunt necessitatibus magni beatae optio voluptatibus debitis fugiat amet saepe repudiandae!


                %footer.sub
                    .breadcrumb
                        %a{:href => "#"} About
                        %a{:href => "#"} Theological Identity




    -# Scripts
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    // window.jQuery || document.write('<script src="../js/min/jquery.min.js"><\/script>')

    %script{:src => "../js/min/app.min.js"}
    %script{:src => "../js/min/sitescripts.min.js"}

    -# Google Analytics
        %script
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));





