!!! 5
-# paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
%html.no-js{:lang => "en"}

    %head

        %meta{:charset => "utf-8", :"http-equiv"=>"Content-Type", :content=>"text/html"}

        %title Project Name
        %meta{:name => "description", :content => ""}
        %meta{:name => "keywords", :content => ""}
        %meta{:name => "author", :content => ""}

        -# Mobile
        %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

        -# Favicon
        / %link{:href => "../img/icons/favicon.ico", :rel => "shortcut icon"}

        -# FONTS
        %script{:src => "//use.typekit.net/xrq4srv.js"}
        %script
            try{Typekit.load();}catch(e){}

        -# CSS
        %link{:rel => "stylesheet", :href => "../css/app.css"}

        -# Modernizr
        %script{:src => "../js/libs/modernizr-ck.js"}

        -# IE LT 9
        <!--[if lt IE 9]><link rel="stylesheet" type="text/css" href="../css/ie8.css" /><script src='../js/libs/ie.min.js'></script><![endif]-->



    %body.init


        -# Content Wrap
        %main#content-wrap{:role => "main"}
            .outer-bounds
                .content-row
                    %nav.sub
                        %ul.border-b
                            %li.title
                                %h6
                                    Who We Are
                            %li
                                %a{:href => "/assets/html/index.html"} Our Theological Identity
                            %li
                                %a{:href => "/assets/html/article-video.html"} Our History
                            %li
                                %a{:href => "#"} Stories of Rescue

                            %li.title
                                %h6
                                    Our Campus
                            %li
                                %a{:href => "/assets/html/article-map"} New to PCPC
                            %li
                                %a{:href => "/assets/html/article-list"} Our Session and Diaconate
                            %li
                                %a{:href => "#"} Item
                            %li
                                %a{:href => "#"} Item
                            %li.title
                                %h6
                                    Title
                            %li
                                %a{:href => "#"} Item
                            %li
                                %a{:href => "#"} Item
                            %li
                                %a{:href => "#"} Item
                            %li
                                %a{:href => "#"} Item

                    .main-content
                        %header.content-header
                            %h2 Sermon Audio Archive
                            %h6 A list of sermons preached from the PCPC pulpit.
                            %hr/

                        %article.content-article
                            %ul.striped
                                %li.media-obj-small
                                    .media-image
                                        %img.profile-img{:src => "https://pbs.twimg.com/profile_images/461975102410592256/9s_C1Ohp_normal.jpeg", :alt => ""}/

                                    .media-content
                                        %a.color-text.normal{:href => "#"}
                                            %h6 When Have We Loved One Another Enough?
                                            %span.meta
                                                %span.strong Series:
                                                1 & 2 Thessalonians
                                            %span.meta.strong
                                                1 Thessalonians 4:9-12
                                            %span.meta.strong Mark Davis
                                            %p.date May 18, 2014
                                %li.media-obj-small
                                    .media-image
                                        %img.profile-img{:src => "https://pbs.twimg.com/profile_images/461975102410592256/9s_C1Ohp_normal.jpeg", :alt => ""}/

                                    .media-content
                                        %a.color-text.normal{:href => "#"}
                                            %h6 When Have We Loved One Another Enough?
                                            %span.meta
                                                %span.strong Series:
                                                1 & 2 Thessalonians
                                            %span.meta.strong
                                                1 Thessalonians 4:9-12
                                            %span.meta.strong Mark Davis
                                            %p.date May 18, 2014
                                %li.media-obj-small
                                    .media-image
                                        %img.profile-img{:src => "https://pbs.twimg.com/profile_images/461975102410592256/9s_C1Ohp_normal.jpeg", :alt => ""}/

                                    .media-content
                                        %a.color-text.normal{:href => "#"}
                                            %h6 When Have We Loved One Another Enough?
                                            %span.meta
                                                %span.strong Series:
                                                1 & 2 Thessalonians
                                            %span.meta.strong
                                                1 Thessalonians 4:9-12
                                            %span.meta.strong Mark Davis
                                            %p.date May 18, 2014
                                %li.media-obj-small
                                    .media-image
                                        %img.profile-img{:src => "https://pbs.twimg.com/profile_images/461975102410592256/9s_C1Ohp_normal.jpeg", :alt => ""}/

                                    .media-content
                                        %a.color-text.normal{:href => "#"}
                                            %h6 When Have We Loved One Another Enough?
                                            %span.meta
                                                %span.strong Series:
                                                1 & 2 Thessalonians
                                            %span.meta.strong
                                                1 Thessalonians 4:9-12
                                            %span.meta.strong Mark Davis
                                            %p.date May 18, 2014




                %footer.sub
                    .breadcrumb
                        %a{:href => "#"} About
                        %a{:href => "#"} Sermon Archive





    -# Scripts
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    // window.jQuery || document.write('<script src="../js/min/jquery.min.js"><\/script>')

    %script{:src => "../js/min/app.min.js"}
    %script{:src => "../js/min/sitescripts.min.js"}

    -# Google Analytics
        %script
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));





