


// Structure: General //
html, body {
    background: $base-body-color;
}
.content-row {
    @include row();
}

.outer-bounds {
    @include outer-container()
}

// Move this Later

#content-wrap {
    margin-top: $navbarHeight;
}

nav.sub {
    @include span-columns(3);
    margin-top: 20px;
}
.main-content {
    @include span-columns(9);
}

.full-bleed {
    @include span-columns(12);
}


footer.sub {
    @include clearfix;
    padding:$base-line-height*2 0;
}

