// Wrap
#main-site-navigation-wrap {
    background: darken($dark-blue, 16);
    @include transition(opacity .15s ease-in);
}


// Structure: Header //
header#site-header {
    height:$siteHeaderHeight;
    line-height: $siteHeaderHeight;
    overflow: hidden;
    position: relative;
    @include outer-container();
    padding: 0 $gutter;
    color:white;

    // Logo
    .logo {
        float: left;
        letter-spacing: 0;
        margin:0;
        line-height: 0;

        a {
            display: inline-block;
            background: url(../img/logos/logo+@2x.png) no-repeat ;
            background-size: 100%;
            width:102px;
            height:56px;
            margin-top: 16px;
        }
        span {
            position: absolute;
            left: -9999px;
        }
    }

    // DL
    dl.service-times {
        float: left;
        margin: 6px 0 0 16px;
        font-size: $base-font-size - 0.15;
        line-height: 1.25em;
        dt {
            color: $light-blue;
        }
    }

    // Links
    a {
        font-size: $base-font-size - 0.15;
        color: $light-blue;
        font-weight: 700;
        text-transform: uppercase;
        &:hover {
            color: lighten($light-blue, 12);
        }
    }

    // Search
    .ico.search {
        margin: 0 0 0 16px;
        position: relative;
        top: 2px;
    }
}

.js-search-wrap {
    position: relative;
    @include outer-container();

    .search-and-submit {
        width: 400px;
        opacity: 0;
        position: absolute;
        z-index: 0;
        top:-20px;
        right:10px;
        background: $true-white;
        border: 1px solid darken($base-border-color, 8);
        color: $base-font-color;
        @include transition(opacity .15s ease-in-out);
        box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.15);

        &.is-visible {
            z-index: 10000;
            opacity: 1;
        }

        &:after {
            content:'';
            top: -8px;
            right: 18px;
            position: absolute;
            @include triangle(16px, $true-white, up);
        }

        &:before {
            content:'';
            top: -9px;
            right: 18px;
            position: absolute;
            @include triangle(17px, darken($base-border-color, 8), up);
        }

        .inner-search {
            padding: ($base-line-height / 1.5) $base-line-height ($base-line-height / 2);
            @include clearfix;
        }
        .meta {
            line-height: 2em;
            font-weight: 800;
        }
        input {
            float:left;
            width:80%;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }
        button {
            float:left;
            width:20%;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            padding: 6px 6px 7px;
        }
    }
}

// Structure: Main Navigation //
nav#main-navigation {
    background: $dark-blue;
    border-bottom: 1px solid #233F51;
    ol.navigation-list {
        li.nav-item {
            margin: 0 0 0 -4px;

            span.mark {
                position: relative;
                display: inline-block;
                height: 30px;
                border-right: 1px solid darken($dark-blue, 12);
                right:0px;
                top: 12px;
            }

            > a {
                padding: 0 20px;
                margin: 0 -4px 0 0;
                font-size: $base-font-size * 0.875;
                color: $true-white;
                line-height: $navbarHeight;
                text-transform: uppercase;
                font-weight: 800;
                display: inline-block;
                position: relative;
                top: -2px;
                &.open,
                &:hover {
                    color: darken($dark-blue, 20) !important;
                }
            }

            ol.open {
                // ADD TICK MARK
            }

        }
    }
}



////////////////////////////////////////////////////////////////////////
// MQ
@include media($swap-site-nav) {
    nav#main-navigation {
        display: none;
    }
    .js-mobile-menu-wrap {
        display: inherit;
    }
}
@include media($ipad-portrait-down) {
    .aside-menu {
        display: none;
    }
    header#site-header {
        > .left {
            float:none;
        }
         dl.service-times {
            float:right;
        }
    }
}
@include media($phone-down) {
    header#site-header {
        padding: 0 15px;
        .logo a {
            width: 80px;
        }
    }
}

